@import "./base.css";

.font-marck-script {
    font-family: "Marck Script", cursive;
}

.color-gold {
    color: #B48811;
}

.color-gold-2 {
    color: #BB9B49;
}

.color-gold-3 {
    color: #A2790D;
}